@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300;
}

.content-div:hover {
  background-image: linear-gradient(
    to top,
    rgb(75, 36, 36),
    hsl(0, 0%, 10%)
  ) !important;
}

/* .content-div::backdrop {
  background-image: url("assets/rathalos.gif") !important;
} */
